<div class="relative w-full" data-carousel="static">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative">
        <img src="/assets/images/slide.png" alt="carousel" class="w-full" />
        <div
          class="px-8 py-4 bg-black bg-opacity-40 text-center text-white absolute left-0 bottom-0 w-full"
        >
          <h2 class="text-2xl">LASWARCO ESTABLISHMENT ACT</h2>
          <div class="mt-2 text-sm">
            In 2004, the Lagos State Water Regulatory Commission was set up
            pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL) 2004 to
            protect the long term interests of consumers with regard to the
            quality, price and reliability of services received from service
            providers whether government owned or private and also to approve,
            review standards of performance of services and ensure the functions
            of water supply and sewage services are properly carried out.
          </div>
          <button class="px-4 py-2 bg-[#0CB9DE] rounded-md mt-4">
            Learn more
          </button>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
