<app-header></app-header>
<app-side-popup></app-side-popup>
<div class="relative">
  <img
    src="/assets/images/operator-header.png"
    class="absolute rounded-r-full h-full"
  />
  <img src="/assets/images/operator.png" class="w-full" />
  <div class="absolute top-0 left-0 w-full h-full py-8">
    <h1 class="font-bold text-center uppercase text-4xl text-[#0F5763]">
      BOREHOLE DRILLERS OPERATORS
    </h1>
  </div>
</div>
<app-navbar></app-navbar>
<div class="border-t-8 border-[#F7C600] bg-[#07912E] py-2 px-2">
  <div class="rounded-2xl p-4 bg-white">
    <div class="flex gap-4">
      <div class="w-2/3">
        <div class="px-2">
          <h2 class="font-bold text-xl">
            LASWARCO Answers: Who & How for State Drillers!
          </h2>
        </div>
        <div class="rounded-2xl bg-[#D4E8EA] px-4 py-2 mt-4">
          <div class="flex gap-2 text-[#0CB9DE] text-xs font-bold">
            <div
              class="rounded-2xl py-1 px-4 flex bg-[#0CB9DE] flex-col items-center justify-center"
            >
              <img src="/assets/images/machine.svg" />
              <div>BOREHOLE</div>
              <div>DRILLING COMPANY</div>
            </div>
            <div
              class="rounded-2xl py-1 px-4 flex bg-white flex-col items-center justify-center"
            >
              <img src="/assets/images/man.svg" />
              <div>DRILLER / TECHNICIAN</div>
            </div>
            <div
              class="rounded-2xl py-1 px-4 flex bg-white flex-col items-center justify-center"
            >
              <img src="/assets/images/man.svg" />
              <div>DRILLING MACHINE/EQIP.</div>
            </div>
            <div
              class="rounded-2xl py-1 px-4 flex bg-white flex-col items-center justify-center"
            >
              <img src="/assets/images/man.svg" />
              <div>BOREHOLE</div>
              <div>DRILLING COMPANY</div>
            </div>
          </div>
          <div
            class="mt-4 rounded-2xl p-4 border border-[#2594A8] bg-[#A2D4D9]"
          >
            <p>
              By the regulation, the Commission can not issue a Borehole
              Driller’s license but a “Borehole Drilling license”. The
              Commission is expected by law to enthrone controls over the
              activities of the drillers in abstracting the groundwater
              resources. Hence, a borehole drilling license is a regulatory
              certificate authorizing a proponent to access the groundwater
              resources and certifying a driller’s competence on the technical
              knowhow of harnessing groundwater in line with the Commission
              practice order.
            </p>
            <p class="mt-8">
              The license empowers a driller to harness or carry out borehole
              drilling activities in any part of the state. The license is not
              transferable and subject to revocation. The License can be
              obtained by either as an individual or as a corporate body or
              organization, the difference would be in the approved regulatory
              fees and it has an expiring period when it should be renewed
              subject to a further regulatory inspection clearance by the
              Geo-Scientist
            </p>
          </div>
        </div>
      </div>
      <div class="w-1/3">
        <div class="flex justify-center">
          <button
            class="bg-[#07912E] px-4 py-2 uppercase text-[#B2F7AD] rounded-md font-bold"
          >
            OPERATORS STATISTICS
          </button>
        </div>
        <div
          class="mt-4 rounded-2xl border border-[#EFEFEF] shadow-xl pt-4 pb-0"
        >
          <div class="border-b border-[#ecebeb]">
            <div class="flex gap-2 px-4">
              <div
                class="w-1/3 flex flex-col gap-2 justify-center items-center"
              >
                <div class="h-2 w-full relative bg-[#979797]">
                  <div class="absolute left-0 h-full w-2/5 bg-[#4EC040]"></div>
                </div>
                <div class="whitespace-nowrap text-ellipsis overflow-hidden">
                  Drill Technician
                </div>
                <div class="text-sm">2,040</div>
              </div>
              <div
                class="w-1/3 flex flex-col gap-2 justify-center items-center"
              >
                <div class="h-2 w-full relative bg-[#979797]">
                  <div class="absolute left-0 h-full w-2/5 bg-[#F7C600]"></div>
                </div>
                <div class="whitespace-nowrap text-ellipsis overflow-hidden">
                  Licensed Drillers
                </div>
                <div class="text-sm">100</div>
              </div>
              <div
                class="w-1/3 flex flex-col gap-2 justify-center items-center"
              >
                <div class="h-2 w-full relative bg-[#979797]">
                  <div class="absolute left-0 h-full w-2/5 bg-[#0CB9DE]"></div>
                </div>
                <div class="whitespace-nowrap text-ellipsis overflow-hidden">
                  Unlicensed Drillers
                </div>
                <div class="text-sm">200</div>
              </div>
            </div>
          </div>
          <div class="relative py-2 px-4">
            <div class="flex justify-between">
              <div class="font-bold text-[#828282] text-lg w-3/4">
                Total Registered Borehole Drillig Service Provider
              </div>
              <svg
                width="22"
                height="20"
                viewBox="0 0 22 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <ellipse
                  cx="10.8735"
                  cy="9.51621"
                  rx="10.3735"
                  ry="9.51621"
                  fill="#BDBDBD"
                />
                <rect
                  x="9.14392"
                  y="7.40115"
                  width="3.45783"
                  height="8.45884"
                  rx="1.72892"
                  fill="white"
                />
                <rect
                  x="9.14392"
                  y="3.172"
                  width="3.45783"
                  height="3.17206"
                  rx="1.58603"
                  fill="white"
                />
              </svg>
            </div>
            <div class="flex justify-end px-8">
              <div class="flex flex-col justify-center items-center">
                <div class="text-3xl font-bold">5.987,34</div>
                <div class="text-[#828282]">Secondary text</div>
              </div>
            </div>
            <div class="border-t border-[#EFEFEF] py-2">
              <div class="flex justify-between items-center">
                <div class="flex items-center gap-2">
                  <app-man></app-man>
                  Technician
                </div>
                <div class="flex items-center gap-2">
                  <app-man color="#F7C600"></app-man>
                  Service Provider
                </div>
                <div class="flex items-center gap-2">
                  <app-man color="#0CB9DE"></app-man>
                  Licensed
                </div>
              </div>
              <div class="mt-2 flex justify-center">
                <svg
                  width="162"
                  height="158"
                  viewBox="0 0 162 158"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M161 79.5C161 90.9693 158.423 102.299 153.45 112.693C148.476 123.086 141.228 132.291 132.215 139.659C123.201 147.027 112.641 152.379 101.278 155.34C89.9156 158.3 78.0254 158.797 66.4446 156.794C54.8638 154.792 43.8736 150.339 34.2474 143.749C24.6211 137.159 16.5925 128.592 10.7266 118.651C4.86065 108.71 1.29979 97.6366 0.294558 86.2093C-0.710676 74.782 0.864131 63.2787 4.90818 52.5087L41.2019 65.468C39.0995 71.067 38.2808 77.0472 38.8034 82.988C39.326 88.9287 41.1772 94.6856 44.2268 99.8536C47.2763 105.022 51.4501 109.475 56.4545 112.901C61.459 116.327 67.1724 118.642 73.193 119.683C79.2135 120.724 85.3949 120.466 91.3022 118.927C97.2094 117.388 102.699 114.605 107.385 110.775C112.071 106.944 115.839 102.159 118.424 96.756C121.01 91.3527 122.35 85.4626 122.35 79.5H161Z"
                    fill="#F7C600"
                  />
                  <path
                    d="M80.5 158C68.7385 158 57.1199 155.487 46.4616 150.637C35.8033 145.787 26.3642 138.719 18.8084 129.93C11.2526 121.14 5.76371 110.843 2.72787 99.7622C-0.307982 88.6816 -0.817027 77.0869 1.23654 65.7938C3.29011 54.5007 7.85641 43.7836 14.6142 34.3965C21.3719 25.0094 30.157 17.1803 40.3513 11.4601C50.5455 5.73988 61.9014 2.2675 73.6198 1.28724C85.3383 0.306982 97.1346 1.84266 108.179 5.78624L94.8895 41.1783C89.1479 39.1281 83.0153 38.3298 76.9232 38.8394C70.8311 39.349 64.9275 41.1542 59.6278 44.128C54.3281 47.1017 49.761 51.1718 46.2478 56.0519C42.7346 60.932 40.3607 66.5036 39.2931 72.3745C38.2255 78.2455 38.4902 84.2733 40.0684 90.0338C41.6467 95.7943 44.5002 101.148 48.4283 105.717C52.3563 110.286 57.2634 113.961 62.8044 116.482C68.3453 119.003 74.3855 120.31 80.5 120.31L80.5 158Z"
                    fill="#07912E"
                  />
                  <path
                    d="M2.874 58.7743C7.96571 40.2605 19.8381 24.2034 36.2498 13.6345C52.6615 3.06563 72.4769 -1.28371 91.9548 1.40764C111.433 4.099 129.225 13.6448 141.974 28.2429C154.722 42.8409 161.544 61.4811 161.151 80.6442L122.5 79.8923C122.704 69.9299 119.157 60.2394 112.53 52.6503C105.902 45.0612 96.6524 40.0986 86.5264 38.6994C76.4004 37.3002 66.099 39.5613 57.567 45.0558C49.035 50.5503 42.8628 58.8979 40.2158 68.5227L2.874 58.7743Z"
                    fill="#0CB9DE"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6">
      <div class="flex gap-3">
        <div class="w-2/3">
          <div class="rounded-2xl border border-[#EFEFEF]">
            <div class="rounded-t-2xl bg-[#EFEFEF] font-bold px-2 py-2 text-lg">
              Lagos State Water Regulatory Commission (LASWARCO)
            </div>
            <div class="py-4 px-2">
              <div>
                The Lagos State Water Regulations Commission (LSWRC) has
                implemented an online registration system for borehole drillers
                to obtain a license. This new system aims to streamline the
                registration process and ensure proper regulation of borehole
                drilling activities within Lagos State. By registering online
                through the LSWRC website, borehole drillers can now
                conveniently obtain the required license and comply with the
                state's regulations.
              </div>
              <div class="mt-8">
                <div class="font-bold mb-4">Step-by-step Guide:</div>
                <ul class="list-disc list-outside space-y-4 pl-8">
                  <li>
                    1. Visit the Lagos State Water Regulations Commission
                    website: Open a web browser and navigate to the official
                    website of the LSWRC (https://www.lswrc.gov.ng).
                  </li>
                  <li>
                    2. Navigate to the Borehole Drillers Registration page: On
                    the home page of the LSWRC website, look for the "Borehole
                    Drillers" section, typically found in the navigation menu.
                  </li>
                  <li>
                    3. Read the guidelines and requirements: Once you have
                    accessed the Borehole Drillers Registration page, carefully
                    read and understand the guidelines, requirements, and any
                    other relevant information provided. These guidelines will
                    provide you with a better understanding of the necessary
                    documents, fees, and procedures involved.
                  </li>
                  <li>
                    4. Fill out the online registration form: Click on the
                    "Register now" or similar button to proceed with the online
                    registration process. You will be directed to a form that
                    requires you to input personal and business details, such as
                    your name, contact information, company name, address, and
                    other relevant information. Fill out all mandatory fields
                    accurately.
                  </li>
                  <li>
                    5. Upload required documents: The online registration form
                    will prompt you to upload specific documents, such as your
                    company's registration certificate, tax identification
                    number, certificate of incorporation, and any other required
                    supporting documents. Scan these documents in advance and
                    ensure they meet the specified file format and size
                    requirements.
                  </li>
                  <li>
                    6. Pay the registration fee: Once you have completed the
                    registration form and uploaded the necessary documents, you
                    will be prompted to make a payment for the registration fee.
                    The website will guide you through various payment options,
                    such as online banking
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mt-8">
            <app-upcoming></app-upcoming>
          </div>
        </div>
        <div class="w-1/3">
          <div class="rounded-2xl shadow-md p-2">
            <div class="rounded-2xl p-1 bg-[#EFEFEF]">
              <div class="text-center font-bold text-lg">
                Driller Resource Center
              </div>
              <div class="mt-2 rounded-2xl bg-white py-3 px-2">
                <div class="text-center text-[#777777]">
                  Procedure and Guideline Documents
                </div>
                <div class="mt-4 border-b pb-1 border-[#DDD]">
                  <div class="font-bold text-xs">
                    Download Online Registration Guide Line
                  </div>
                  <div class="text-xs">
                    Meeting information and remote participation; Guidance for
                  </div>
                  <div class="flex gap-2 mt-2">
                    <button
                      class="flex items-center gap-2 px-3 py-1 cursor-pointer text-sm text-[#C0EEF1] bg-[#43B3C6] rounded-lg"
                    >
                      <img src="/assets/icons/ico_view.svg" /> View
                    </button>
                    <button
                      class="flex items-center gap-2 px-3 py-1 cursor-pointer text-sm text-[#C0EEF1] bg-[#43B3C6] rounded-lg"
                    >
                      <img src="/assets/icons/ico_download.svg" /> Download
                    </button>
                  </div>
                </div>
                <div class="mt-4 border-b pb-1 border-[#DDD]">
                  <div class="font-bold text-xs">
                    Download Online Registration Guide Line
                  </div>
                  <div class="text-xs">
                    Meeting information and remote participation; Guidance for
                  </div>
                  <div class="flex gap-2 mt-2">
                    <button
                      class="flex items-center gap-2 px-3 py-1 cursor-pointer text-sm text-[#C0EEF1] bg-[#43B3C6] rounded-lg"
                    >
                      <img src="/assets/icons/ico_view.svg" /> View
                    </button>
                    <button
                      class="flex items-center gap-2 px-3 py-1 cursor-pointer text-sm text-[#C0EEF1] bg-[#43B3C6] rounded-lg"
                    >
                      <img src="/assets/icons/ico_download.svg" /> Download
                    </button>
                  </div>
                </div>
                <div class="mt-4 border-b pb-1 border-[#DDD]">
                  <div class="font-bold text-xs">
                    Download Online Registration Guide Line
                  </div>
                  <div class="text-xs">
                    Meeting information and remote participation; Guidance for
                  </div>
                  <div class="flex gap-2 mt-2">
                    <button
                      class="flex items-center gap-2 px-3 py-1 cursor-pointer text-sm text-[#C0EEF1] bg-[#43B3C6] rounded-lg"
                    >
                      <img src="/assets/icons/ico_view.svg" /> View
                    </button>
                    <button
                      class="flex items-center gap-2 px-3 py-1 cursor-pointer text-sm text-[#C0EEF1] bg-[#43B3C6] rounded-lg"
                    >
                      <img src="/assets/icons/ico_download.svg" /> Download
                    </button>
                  </div>
                </div>
                <div class="mt-4">
                  <span class="font-bold text-[#0CB9DE]"
                    >Standard Procedures :
                  </span>
                  Meeting information and remote participation; Guidance for
                  <div class="text-[#0CB9DE]">
                    the public; Service of process; and more…
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-8 rounded-2xl p-2 bg-[#EFEFEF]">
              <div class="pb-2 px-2 font-bold text-xl">Having a Complain ?</div>
              <div class="bg-white px-8 py-4">
                <div class="mb-8">
                  <label class="text-xs">Report Type</label>
                  <div class="mt-2 flex gap-2">
                    <button
                      class="text-sm whitespace-nowrap overflow-hidden text-ellipsis flex-1 rounded bg-[#07912E] px-4 py-2 text-white"
                    >
                      Anonymous
                    </button>
                    <button
                      class="text-sm whitespace-nowrap overflow-hidden text-ellipsis flex-1 rounded border-[#2E0249] border border-opacity-30 px-4 py-2 text-[#2E0249] text-opacity-30"
                    >
                      Specified Idenitity
                    </button>
                  </div>
                </div>
                <div class="mb-8">
                  <div class="mb-4">
                    <input
                      class="border-b border-[#2E0249] border-opacity-30 focus:outline-none focus:border-[#07912E] focus:border-opacity-100 text-sm py-2 w-full"
                      value="Your name"
                    />
                  </div>
                  <div class="mb-4 relative">
                    <img
                      src="/assets/icons/ico_envelope.svg"
                      class="absolute left-0 top-1/2 translate-x-1/2 -translate-y-1/2"
                    />
                    <input
                      class="border-b border-[#2E0249] border-opacity-30 focus:outline-none focus:border-[#07912E] focus:border-opacity-100 text-sm py-2 w-full pl-8"
                    />
                  </div>
                  <div class="mb-4 relative">
                    <img
                      src="/assets/icons/ico_phone.svg"
                      class="absolute left-0 top-1/2 translate-x-1/2 -translate-y-1/2"
                    />
                    <input
                      class="border-b border-[#2E0249] border-opacity-30 focus:outline-none focus:border-[#07912E] focus:border-opacity-100 text-sm py-2 w-full pl-8"
                    />
                  </div>
                </div>
                <div class="mb-2">
                  <label class="text-xs">Report Type</label>
                  <div class="mt-2 flex gap-2">
                    <button
                      class="text-sm whitespace-nowrap overflow-hidden text-ellipsis flex-1 rounded bg-[#07912E] px-4 py-2 text-white"
                    >
                      Concerns
                    </button>
                    <button
                      class="text-sm whitespace-nowrap overflow-hidden text-ellipsis flex-1 rounded border-[#2E0249] border border-opacity-30 px-4 py-2 text-[#2E0249] text-opacity-30"
                    >
                      Whistleblowing
                    </button>
                  </div>
                </div>
                <div class="">
                  <label class="text-[#07912E]">Tell Us Your Complain.</label>
                  <div class="border-b border-[#07912E] py-2"></div>
                  <textarea
                    class="w-full resize-y p-2 text-xs bg-[#F4EDED]"
                    rows="6"
                  ></textarea>
                  <div class="mt-2 flex justify-center">
                    <button
                      class="text-sm whitespace-nowrap overflow-hidden text-ellipsis rounded bg-[#07912E] px-4 py-2 text-white flex items-center gap-2"
                    >
                      <img src="/assets/icons/ico_send.svg" />
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-8 rounded-2xl p-2 bg-[#EFEFEF]">
              <div class="pb-2 px-2 font-bold text-xl">
                Register Driller Login
              </div>
              <div class="bg-white px-8 py-4 rounded-b-2xl">
                <div class="mb-8">
                  <label class="text-xs"
                    >All registered Drillers with Hydornet Access can login and
                    manage there accounts and operation activity with the
                    LASWARCO-Hydronet Suits</label
                  >
                  <div class="mt-2 flex gap-2">
                    <button
                      class="text-sm whitespace-nowrap overflow-hidden text-ellipsis flex-1 rounded bg-[#07912E] px-4 py-2 text-white"
                    >
                      Login
                    </button>
                    <button
                      class="text-sm whitespace-nowrap overflow-hidden text-ellipsis flex-1 rounded border-[#2E0249] border border-opacity-30 px-4 py-2 text-[#2E0249] text-opacity-30"
                    >
                      Don’t Have an Account
                    </button>
                  </div>
                </div>
                <div class="mb-8">
                  <div class="mb-4 relative bg-[#F8F1FF] rounded-xl">
                    <input
                      class="w-full px-2 bg-transparent py-3 focus:outline-none"
                    />
                  </div>
                  <div class="mb-4 relative bg-[#F8F1FF] rounded-xl">
                    <input
                      class="w-full px-2 bg-transparent py-3 focus:outline-none"
                    />
                  </div>
                  <div class="flex justify-center mt-8">
                    <button
                      class="rounded bg-[#07912E] px-4 py-2 text-white flex items-center gap-2"
                    >
                      <img src="/assets/icons/ico_send.svg" />
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
