<aside class="!fixed !left-0 !top-32 z-10">
  <div
    class="flex flex-col shadow-2xl shadow-[#3a949a63] border rounded-tr-3xl border-[#0CB9DE]"
  >
    <div
      class="flex flex-col p-2 cursor-pointer pt-4 justify-center items-center bg-[#E7F4F5] rounded-tr-3xl border-b border-[#0CB9DE]"
    >
      <app-drillers></app-drillers>
      <span class="font-bold text-xs text-center">Drillers</span>
    </div>
    <div
      class="flex flex-col p-2 cursor-pointer justify-center items-center bg-[#E7F4F5] border-b border-[#0CB9DE]"
    >
      <app-package-water></app-package-water>
      <span class="font-bold text-xs text-center"
        >Package Water <br />
        Providers</span
      >
    </div>
    <div
      class="flex flex-col p-2 cursor-pointer justify-center items-center bg-[#E7F4F5] border-b border-[#0CB9DE]"
    >
      <app-water-tank-supplier></app-water-tank-supplier>
      <span class="font-bold text-xs text-center"
        >Water Tanker<br />
        Supplier</span
      >
    </div>
    <div
      class="flex flex-col p-2 cursor-pointer justify-center items-center bg-[#E7F4F5] border-b border-[#0CB9DE]"
    >
      <app-water-oil></app-water-oil>
      <span class="font-bold text-xs text-center"
        >Water & Soil<br />
        Analysis</span
      >
    </div>
    <div
      class="flex flex-col p-2 cursor-pointer justify-center items-center bg-[#E7F4F5]"
    >
      <app-water-oil></app-water-oil>
      <span class="font-bold text-xs text-center"
        >Water & Soil<br />
        Analysis</span
      >
    </div>
  </div>
</aside>
