<app-header></app-header>
<app-navbar></app-navbar>
<div>
  <!-- tab container -->
  <div class="flex justify-between text-white">
    <a class="py-3 flex-grow rounded-t text-center bg-[#C19030]"
      >Core Mandate</a
    >
    <a class="py-3 flex-grow rounded-t text-center bg-[#0094DE]">Mission</a>
    <a class="py-3 flex-grow rounded-t text-center bg-[#F7C600]">Vision</a>
    <a class="py-3 flex-grow rounded-t text-center bg-[#068E44]"
      >Stake Holders</a
    >
  </div>
  <div class="bg-[#C19030] p-3">
    <div class="rounded-lg p-3 bg-white">
      <div class="flex justify-between gap-3">
        <div class="w-3/5">
          <div class="rounded-2xl border border-[#DDDDDD] shadow-sm">
            <div class="rounded-t-2xl px-2 py-2 text-sm bg-[#DDDDDD]">
              In Focus...
            </div>
            <div class="p-4 text-xl">
              <h1 class="font-bold text-2xl mb-4">
                Lagos State Water Regulatory Commission (LASWARCO)
              </h1>
              <p class="mb-6">
                Lagos State, an emerging model mega city and the smallest state
                in West Africa is a ‘mini Mecca’ of some sorts due to the daily
                influx of people into the city for both trade and investment
                purposes, among other reasons due to the socio-economic vibrancy
                of the State triggered by the rapid infrastructural development
                of the aquatic state.
              </p>
              <p class="mb-6">
                Her population according to the Lagos State Bureau of Statistics
                (LBS) is put at over 22,583,305 Million (Lagos State Estimate,
                2014), and a population growth rate of 3.2 %. The United Nations
                estimates that the city population by year 2015, will have risen
                to about 24.5m at a growth rate of 6-8% per annum making Lagos
                State the 3rd Largest Mega city in the world.
              </p>
              <p class="mb-6">
                Due to the aforementioned reasons, there is no doubt that Lagos
                is the melting point of sub-Saharan Africa. This influx has
                exerted great pressure on the available basic institutions
                facilitated by the State government. From housing to
                transportation challenges; power supply to road infrastructure,
                health, education, security without exempting the environment
                sectors specifically the water and waste water management.
                Perhaps because of the magnitude of human and material lives
                associated and dependent on water, the State government took a
                bold step to address the issues relating to the provision of
                clean and safe drinking water for the sustenance of life by the
                creation of a commission whose sole responsibility is to control
                and regulate the activities of the state water resources and
                wastewater Management.
              </p>
              <p class="text-sm">
                In 2004, the Lagos State Water Regulatory Commission was set up
                pursuant to S.48 of the Lagos Stage Water Sector Law (LSWSL)
                2004 to protect the long term interests of consumers with regard
                to the quality, price and reliability of services received from
                service providers whether government owned or private and also
                to approve, review standards of performance of services and
                ensure the
              </p>
            </div>
          </div>
        </div>
        <div class="w-2/5">
          <div
            class="rounded-2xl px-2 border bg-[#DDDDDD] border-[#DDDDDD] shadow-sm"
          >
            <div class="rounded-t-2xl px-2 py-2 text-sm bg-[#DDDDDD] font-bold">
              LASWARCO INTRODUCTIO
            </div>
            <div class="p-4 mb-3 rounded-2xl bg-white shadow-md">
              <div class="rounded-2xl overflow-clip">
                <div
                  class="flex justify-start items-center bg-[#068E44] rounded-l-full"
                >
                  <img
                    src="/assets/images/avatar.png"
                    alt="avatar"
                    class="w-[70px] h-[70px] rounded-full"
                  />
                  <div class="flex flex-col justify-center items-center">
                    <div class="font-bold text-sm">Mrs Femi Funke Adepoju</div>
                    <div class="font-bold text-sm text-white">
                      Executive Secretary
                    </div>
                    <div class="text-xs text-white">
                      Lagos State Water Regulatory Commission
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-3 relative">
                <img
                  src="/assets/images/video.png"
                  alt="avatar"
                  class="w-full"
                />
                <img
                  src="/assets/images/play.png"
                  alt="avatar"
                  class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 cursor-pointer"
                />
              </div>
            </div>

            <div class="p-2 mb-3 bg-white rounded-2xl shadow-md">
              <div class="font-bold mb-4">Announcements</div>
              <div class="flex items-center gap-1 text-sm">
                <img src="/assets/icons/ico_info.svg" />
                <div>
                  <a class="text-cyan-400 font-bold"
                    >COVID-19 - Water Boards'response to COVID-19:
                  </a>
                  Meeting information and remote participation; Guidance for
                  <span class="text-cyan-400"
                    >the public; Service of process; and more…</span
                  >
                </div>
              </div>
              <div class="mt-2 ml-2">
                <div class="space-y-2">
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                  <div class="flex gap-2 items-center">
                    <b class="text-base">5</b>
                    <div>
                      <span class="text-cyan-400"
                        >Lorem ipsum dolor sit amet consectetur. Lorem ipsum
                        dolor sit amet consectetur. Lorem ipsum</span
                      >(12/22/2023)
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="py-2 px-4 bg-white rounded-2xl shadow-md">
              <div class="text-center font-bold">Get Social with Us!</div>
              <div class="mt-4 flex gap-3 items-center">
                <img src="/assets/social-icons/ico_2.svg" />
                <img src="/assets/social-icons/ico_1.svg" />
                <img src="/assets/social-icons/ico_4.svg" />
                <img src="/assets/social-icons/ico_3.svg" />
                <img src="/assets/social-icons/ico_5.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
