<nav>
    <div class="flex justify-between px-8">
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_permit.svg"/>
            Permits
        </a>
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_license.svg"/>
            License
        </a>
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_programs.svg"/>
            Programs
        </a>
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_drinking.svg"/>
            Drinking Water
        </a>
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_water_quality.svg"/>
            Water Quality
        </a>
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_search.svg"/>
            Search
        </a>
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_water_right.svg"/>
            Water Rights
        </a>
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_notice.svg"/>
            Notices
        </a>
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_setting.svg"/>
            Web Tool
        </a>
        <a class="flex flex-col gap-2 items-center justify-center px-4 py-3 text-sm">
            <img src="/assets/icons/ico_webtool.svg"/>
            Web Tool
        </a>
    </div>
</nav>