<footer>
  <div class="px-4 py-4 bg-[#0CB9DE] text-white pb-8">
    <div class="font-bold">
      Water is a precious resource in California, and maintaining its quality is
      of utmost importance to safeguard the health of the public and the
      environment.
    </div>
    <div class="mt-8">
      <div class="flex gap-4 px-4">
        <div class="w-1/4">
          <h1 class="font-bold text-3xl">HYDRONET</h1>
          <div class="mt-4 space-y-2">
            <div>Powered By Softseer Limited</div>
            <div>
              <span class="font-bold">Address</span>: 131 Obafemi Awolowo way
              Off Allen, R/About Ikeja, Lagos Nigeria
            </div>
            <div><span class="font-bold">Phone #</span>: +2348060470125</div>
            <div>
              <span class="font-bold">Email</span>: Care&#64;HydronetSystems.com
            </div>
          </div>
        </div>
        <div class="w-1/4">
          <h1 class="text-lg">Industry Operators</h1>
          <div class="mt-8 space-y-2">
            <div class="flex items-center gap-2">
              <img src="/assets/icons/footer/ico_water_tank.svg" /> Water Tanker
              Service Providers
            </div>
            <div class="flex items-center gap-2">
              <img src="/assets/icons/footer/ico_borehole.svg" /> Borehole
              Drillers
            </div>
            <div class="flex items-center gap-4">
              <img src="/assets/icons/footer/ico_waste_water.svg" /> Waste Water
              Treatment
            </div>
            <div class="flex items-center gap-4">
              <img src="/assets/icons/footer/ico_water_bottling.svg" /> Water
              Bottling & Packaging
            </div>
            <div class="flex items-center gap-4">
              <img src="/assets/icons/footer/ico_water_intensive.svg" />
              Water-Intensive Consumable Company
            </div>
          </div>
        </div>
        <div class="w-1/4">
          <h1 class="text-lg">Quick Links</h1>
          <div class="mt-8 space-y-2">
            <div class="">Programs</div>
            <div class="">Water Quality</div>
            <div class="">Notices</div>
            <div class="">Water Rights</div>
            <div class="">Local Agency Oversight for Site Cleanup</div>
          </div>
        </div>
        <div class="w-1/4">
          <h1 class="text-lg">Socials</h1>
          <div class="mt-8 space-y-2">
            <div class="flex items-center gap-2"></div>
            <div class="flex items-center gap-2">
              <img src="/assets/social-icons/ico_white_1.svg" />facebook
            </div>
            <div class="flex items-center gap-2">
              <img src="/assets/social-icons/ico_white_2.svg" />Instagram
            </div>
            <div class="flex items-center gap-2">
              <img src="/assets/social-icons/ico_white_3.svg" />LinkedOn
            </div>
            <div class="flex items-center gap-2">
              <img src="/assets/social-icons/ico_white_4.svg" />Twitter
            </div>
            <div class="flex items-center gap-2">
              <img src="/assets/social-icons/ico_white_5.svg" />YouTube
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black px-4 border-r-8 border-b-2 border-[#C19030]">
    <div class="flex justify-between items-center">
      <div class="flex justify-start">
        <a class="px-4 py-2 text-white">Back to Top</a>
        <a class="px-4 py-2 text-white">Conditions of Use</a>
        <a class="px-4 py-2 text-white">Privacy Policy</a>
        <a class="px-4 py-2 text-white">Accessibility</a>
        <a class="px-4 py-2 text-white">Contact Us</a>
      </div>
      <div class="flex justify-end gap-1">
        <a class="px-2 py-2 text-white">
          <img src="/assets/social-icons/ico_white_1.svg" />
        </a>
        <a class="px-2 py-2 text-white">
          <img src="/assets/social-icons/ico_white_2.svg" />
        </a>
        <a class="px-2 py-2 text-white">
          <img src="/assets/social-icons/ico_white_3.svg" />
        </a>
        <a class="px-2 py-2 text-white">
          <img src="/assets/social-icons/ico_white_4.svg" />
        </a>
        <a class="px-2 py-2 text-white">
          <img src="/assets/social-icons/ico_white_5.svg" />
        </a>
      </div>
    </div>
  </div>
</footer>
